.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 75px;
    justify-content: center;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container h4 {
    margin-bottom: 15px;
    padding: 15px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: row;
    justify-items:center;
}
.smallcard-container>div>p{
    padding: 15px;
}